<!-- fragments/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
      th:fragment="barra-navegacion">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" th:href="@{/}">Gozarte 🎨</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/alumno/lista}">👩‍🎓 Lista de alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/docente/lista}">👨‍🏫 Lista de docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/materia/lista}">📚 Lista de materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/disponibilidad/lista}">🗓️ Lista de horarios disponibles por docente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/docentemateria/lista}">🧑‍🏫📖 Lista de docentes por materia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/clase/lista}">📖 Lista de clases</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
